@mixin disabled($comment) {
  &.not-use::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    border-top: 3px solid red;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  &.not-use:hover::before {
    content: "NOT #{$comment}";
  }
}

@mixin bottom-comment($comment) {
  &:hover::before {
    content: "#{$comment}";
    font-size: 0.8rem;
    background-color: #00000056;
    position: absolute;
    color: white;
    padding: 0.3rem 0.5rem;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  @media (min-width: 0px) and (max-width: 280px) {
    font-size: 0.6rem;
    width: 30px;
    height: 30px;
  }
  @media (min-width: 281px) and (max-width: 376px) {
    font-size: 1rem;
    width: 35px;
    height: 35px;
  }
  @media (min-width: 377px) and (max-width: 568px) {
    font-size: 1.2rem;
    width: 38px;
    height: 38px;
  }
}

@mixin card-size($scale) {
  width: ($scale * 8) + vw;
  height: ($scale * 11.3) + vw;
  @media (min-width: 0px) and (max-width: 594px) {
    width: ($scale * 1.65 * 8) + vw;
    height: ($scale * 1.65 * 11.3) + vw;
  }
  @media (min-width: 595px) and (max-width: 768px) {
    width: ($scale * 1.65 * 8) + vw;
    height: ($scale * 1.65 * 11.3) + vw;
  }
  @media (min-width: 769px) and (max-width: 920px) {
    width: ($scale * 1.54 * 8) + vw;
    height: ($scale * 1.54 * 11.3) + vw;
  }
  @media (min-width: 921px) {
    width: ($scale * 0.78 * 8) + vw;
    height: ($scale * 0.78 * 11.3) + vw;
  }
}

@mixin card-gap {
  @media (min-width: 0px) and (max-width: 594px) {
    gap: 0.2rem;
  }
  @media (min-width: 595px) and (max-width: 768px) {
    gap: 0.5rem;
  }
  @media (min-width: 769px) and (max-width: 920px) {
    gap: 1rem;
  }
  @media (min-width: 921px) {
    gap: 2rem;
  }
}

@mixin top-down-gap {
  @media (min-width: 0px) and (max-width: 368px) {
    gap: 2rem;
  }
  @media (min-width: 367px) and (max-width: 594px) {
    gap: 3rem;
  }
  @media (min-width: 595px) and (max-width: 768px) {
    gap: 3rem;
  }
  @media (min-width: 769px) and (max-width: 920px) {
    gap: 4rem;
  }
  @media (min-width: 921px) {
    gap: 4rem;
  }
}

@mixin select-card-style {
  box-shadow: 0 0 0 0.35rem #4dacfac4;
}

@mixin card-parent {
  position: relative;
}

@mixin card-style {
  position: absolute;
  background-color: #ffffff;
  font-size: 2rem;

  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}

@mixin card-image-size {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin transition($time) {
  transition: $time + ms ease-in-out;
  -webkit-transition: $time + ms ease-in-out;
  -moz-transition: $time + ms ease-in-out;
  -ms-transition: $time + ms ease-in-out;
  -o-transition: $time + ms ease-in-out;
}

@mixin transform-center-x($x) {
  transform: translateX($x);
  -webkit-transform: translateX($x);
  -moz-transform: translateX($x);
  -ms-transform: translateX($x);
  -o-transform: translateX($x);
}
@mixin transform-center-y($y) {
  transform: translateY($y);
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  -ms-transform: translateY($y);
  -o-transform: translateY($y);
}

@mixin transform-center($x, $y) {
  transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
}

@mixin transform-rotate($deg) {
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
}

@mixin transform-unset() {
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}

@mixin transform-scale($scale) {
  transform: scale($scale);
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
}

@mixin border-radius($radius) {
  @media (min-width: 0px) and (max-width: 594px) {
    border-radius: $radius * 1.35 + rem;
    -webkit-border-radius: $radius * 0.35 + rem;
    -moz-border-radius: $radius * 0.35 + rem;
    -ms-border-radius: $radius * 0.35 + rem;
    -o-border-radius: $radius * 0.35 + rem;
  }
  @media (min-width: 595px) and (max-width: 768px) {
    border-radius: $radius * 0.85 + rem;
    -webkit-border-radius: $radius * 0.85 + rem;
    -moz-border-radius: $radius * 0.85 + rem;
    -ms-border-radius: $radius * 0.85 + rem;
    -o-border-radius: $radius * 0.85 + rem;
  }

  @media (min-width: 769px) and (max-width: 920px) {
    border-radius: $radius * 0.65 + rem;
    -webkit-border-radius: $radius * 0.85 + rem;
    -moz-border-radius: $radius * 0.85 + rem;
    -ms-border-radius: $radius * 0.85 + rem;
    -o-border-radius: $radius * 0.85 + rem;
  }

  @media (min-width: 921px) {
    border-radius: $radius * 0.95 + rem;
    -webkit-border-radius: $radius * 0.95 + rem;
    -moz-border-radius: $radius * 0.95 + rem;
    -ms-border-radius: $radius * 0.95 + rem;
    -o-border-radius: $radius * 0.95 + rem;
  }
}

html,
body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

body {
  position: relative;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  $num: 1;

  @for $num from 1 to 8 {
    &.theme-#{$num} {
      background-image: url("/images/background#{$num}.jpg");
    }
  }

  .slide-bgm {
    text-align: center;

    // display: flex;
    // align-items:center;

    #current-bgm #slide {
      overflow: hidden;
      display: inline-flex;
      position: relative;
      color: transparent;
      align-items: center;
      user-select: none;

      @keyframes slide {
        0% {
          transform: translateX(100%);
          -webkit-transform: translateX(100%);
          -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
          -o-transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
        }
      }

      @keyframes slide2 {
        0% {
          transform: translateX(100%);
          -webkit-transform: translateX(100%);
          -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
          -o-transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
        }
      }

      &::before {
        color: #ffffff;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        content: attr(data-content);
        word-break: break-all;
        animation: slide 10s linear infinite;
        -webkit-animation: slide 10s linear infinite;
        white-space: nowrap;
      }
      &::after {
        left: -200%;
        color: #ffffff;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        content: attr(data-content);
        word-break: break-all;
        animation: slide2 10s linear infinite;
        -webkit-animation: slide2 10s linear infinite;
        white-space: nowrap;
      }
    }

    @keyframes bounce {
      0% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
      }
      13% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
      }
      26% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
      }
      39% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
      50% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
      }
      73% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
      }
      87% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
      }
      100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
    }

    #current-bgm:not(:empty) {
      padding: 0.3rem 0.7rem;
      background-color: #00000056;
      color: #ffffff;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;

      &::before {
        content: "🎵";
        display: inline-block;
        margin-right: 8px;
        font-weight: 700;
        text-shadow: 0 0 0 #ffffff;
        color: transparent;
        text-align: center;
        animation: bounce 1.8s ease-in-out infinite;
        -webkit-animation: bounce 1.8s ease-in-out infinite;
      }
    }
  }

  #app {
    #top-bar {
      margin-top: 1rem;
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @media (min-width: 0px) and (max-width: 280px) {
        gap: 0.3rem;
      }
      @media (min-width: 281px) and (max-width: 376px) {
        gap: 0.6rem;
      }
      @media (min-width: 377px) and (max-width: 568px) {
        gap: 0.8rem;
      }

      .top-circle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        position: relative;
        width: 45px;
        height: 45px;
        padding: 0.5rem;
        text-align: center;
        background-color: #ffffff56;
        outline: none;
        border: none;
        cursor: pointer;
        @include border-radius(9999);
        &:hover {
          box-shadow: 0 0 0 0.3rem #e65e2d7a;
        }
        &:active {
          filter: brightness(0.85);
          -webkit-filter: brightness(0.85);
        }
      }

      #bgm {
        @include bottom-comment("BGM");
        @include disabled("BGM");
      }

      #effect {
        @include bottom-comment("EFFECT");
        @include disabled("EFFECT");
      }

      #theme {
        svg {
          width: 25px;
          height: 25px;
        }
        &:hover {
          box-shadow: 0 0 0 0.3rem #e65e2d7a;
        }
        &:active {
          filter: brightness(0.85);
          -webkit-filter: brightness(0.85);
        }

        transition: 150ms ease-in-out;
        -webkit-transition: 150ms ease-in-out;
        -moz-transition: 150ms ease-in-out;
        -ms-transition: 150ms ease-in-out;
        -o-transition: 150ms ease-in-out;
        @include bottom-comment("THEME");
      }
      #options {
        display: flex;
        justify-content: center;
        // text-align: center;
        gap: 1rem;

        @media (min-width: 0px) and (max-width: 280px) {
          gap: 0.2rem;
          font-size: 0.6rem;
        }
        @media (min-width: 281px) and (max-width: 376px) {
          gap: 0.8rem;
          font-size: 0.8rem;
        }
        @media (min-width: 377px) and (max-width: 568px) {
          gap: 0.8rem;
          font-size: 0.8rem;
        }

        .shape {
          background-color: #ffffff56;
          padding: 0.3rem 0.8rem;

          @include border-radius(0.3);
        }

        #timer {
          display: inline-block;
          text-align: center;
          &::before {
            content: "TIME";
            display: block;
            font-weight: 700;
          }
        }
        #score {
          text-align: center;
          &::before {
            content: "SCORE";
            display: block;
            font-weight: 700;
          }
          &::after {
            content: attr(data-game-score);
          }
        }
        #move {
          text-align: center;
          &::before {
            content: "MOVE";
            display: block;
            font-weight: 700;
          }
          &::after {
            content: attr(data-game-move);
          }
        }
      }
    }

    #auto-complete,
    #restart {
      &:active {
        filter: brightness(0.85);
        -webkit-filter: brightness(0.85);
      }
      cursor: pointer;
      user-select: none;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      padding: 0.3rem 0.8rem;
      // position: fixed;

      font-weight: 700;
      font-size: 14px;
      color: white;
      border: none;

      @include border-radius(0.3);
      @include transition(150);
    }

    #restart {
      &:hover,
      &:focus-within {
        box-shadow: 0 0 0 0.3rem #344889a6;
      }
      background-color: #344889;
      bottom: 25px;
      right: 15px;
    }
    #auto-complete {
      &:hover,
      &:focus-within {
        box-shadow: 0 0 0 0.3rem #893489a6;
      }
      background-color: #893489;
      bottom: 25px;
      right: 150px;
    }

    #wrapper {
      margin-top: 1rem;
      user-select: none;
      display: flex;
      flex-direction: column;
      @include top-down-gap;

      #top {
        display: flex;
        justify-content: center;
        @include card-gap();

        #pick-deck {
          display: flex;
          @include card-gap();

          .gap {
            @include card-size(1);
          }

          #deck {
            position: relative;
            display: flex;

            @include card-parent;

            & .back.zero {
              &::before {
                content: "♻️";
                position: absolute;
                font-weight: 700;
                font-size: 4vw;
                color: white;
                top: 50%;
                left: 50%;
                z-index: 5;

                @include transform-center(-50%, -50%);
              }
              &::after {
                filter: brightness(0.65);
                -webkit-filter: brightness(0.65);
              }

              @include transform-rotate(-5deg);
            }

            &::after {
              content: attr(data-pick-len) "/" attr(data-store-len);
              position: absolute;
              right: 5px;
              bottom: 5px;
              z-index: 100;
              color: white;
              font-size: calc(0.5vw + 0.7vh);
              background-color: #00000096;
              padding: 0.2rem 0.4rem;
            }
          }

          #pick {
            display: flex;

            .card:last-child:hover {
              @include select-card-style();
            }
            .card:not(:last-child):hover {
              box-shadow: 0 0 1rem 0.2rem #00000056;
              @include transform-unset();
            }

            @include card-parent;
          }
        }

        #stack {
          display: flex;
          @include card-gap();
          @include card-parent;

          #diamond-stack,
          #heart-stack,
          #spade-stack,
          #clover-stack {
            position: relative;
          }
        }
      }

      #body {
        display: flex;
        flex: 1;
        min-height: 600px;

        #ground {
          display: flex;
          @include card-gap();
          justify-content: center;
          flex: 1;

          .column {
            @include card-parent;
            display: flex;
            flex-direction: column;
          }
        }
      }

      .card[data-card-open="true"] {
        box-shadow: 0 0 calc(0.5vw + 0.7vh) calc(0.2vw + 0.3vh) #00000026;
      }

      .back,
      .card,
      .empty {
        overflow: hidden;
        @include card-size(1);
        @include border-radius(0.5);
        @include card-image-size;
        @include transition(150);
      }

      .empty {
        box-shadow: inset 0 0 0 99999999999px #ffffff56;
      }

      .back,
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include card-style;
        z-index: 5;

        &:not([data-card-open="false"]):hover {
          @include select-card-style();
        }

        &:not([data-card-open="false"]).selected {
          @include select-card-style();
          &:last-child::after {
            content: "✅";
            text-shadow: 3px 3px 3px #55555556;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 2rem;
            @include transform-center(-50%, -50%);
          }
        }

        & .card-top {
          display: flex;
          justify-content: space-around;
          padding-top: 0.2rem;
          font-size: 3vw;
        }
        & .card-mid {
          text-align: center;
          font-size: 7vw;
          @media (max-width: 568px) {
            display: none;
          }
        }
        & .card-bottom {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-around;
          padding-bottom: 0.2rem;
          font-size: 3vw;
        }
      }
    }

    [data-card-type="heart"],
    [data-card-type="diamond"] {
      color: red;
    }

    .back,
    [data-card-open="false"] {
      &::after {
        position: absolute;
        content: "";
        background-color: #03142e !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/cards/back_0.png");
        @include card-image-size;
        @include border-radius(0.3);
      }
    }
  }
}
