@mixin card-parent {
  position: relative;
}

@mixin card-style {
  position: absolute;
  background-color: #ffffff;
}

@mixin card-size {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #121212;
  #wrapper {
    background-color: #565656;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 2rem;
    gap: 2rem;

    @media (max-width: 568px) {
      padding: 0.5rem;
      width: 90%;
    }

    #top {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      #pick-deck {
        display: flex;
        gap: 1rem;
        #deck {
          position: relative;
          display: flex;
          @include card-parent;

          & .back.zero {
            &::before {
              content: "EMPTY";
              position: absolute;
              font-weight: 700;
              color: white;
              top: 50%;
              left: 50%;
              z-index: 5;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
            }
            filter: brightness(0.85);
            -webkit-filter: brightness(0.85);
            //border: 5px dashed #000000;
            transform: rotate(-15deg);
            -webkit-transform: rotate(-15deg);
            -moz-transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
          }
        }
        #pick {
          display: flex;
          @include card-parent;
          min-width: 150px;

          .card:last-child:hover {
            box-shadow: 0 0 0 0.3rem #164fc926;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
          }
          .card:not(:last-child):hover {
            box-shadow: unset;
            transform: unset;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;
          }
        }
      }

      #stack {
        display: flex;
        @include card-parent;
        #diamond-stack,
        #heart-stack,
        #spade-stack,
        #clover-stack {
          position: relative;
        }
      }
    }

    #body {
      #ground {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        min-height: 300px;

        .column {
          @include card-parent;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .back,
    .card,
    .empty {
      font-size: calc(4vw * 0.25);
      overflow: hidden;
      width: calc(4vw + 1vh);
      height: calc(4vw * 1.4 + 1vh);
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      @media (max-width: 568px) {
        font-size: calc(4vw * 0.25);
        overflow: hidden;
        width: calc(6vw + 1vh);
        height: calc(6vw * 1.4 + 1vh);
      }

      @include card-size;

      transition: 150ms ease-in-out;
      -webkit-transition: 150ms ease-in-out;
      -moz-transition: 150ms ease-in-out;
      -ms-transition: 150ms ease-in-out;
      -o-transition: 150ms ease-in-out;
    }

    .back,
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include card-style;
      z-index: 5;

      &:not([data-card-open="false"]):hover {
        box-shadow: 0 0 0 0.3rem #164fc926;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      &:not([data-card-open="false"]).selected {
        box-shadow: 0 0 0 0.3rem #164fc9a6;
        &:last-child::after {
          content: "✅";
          text-shadow: 3px 3px 3px #55555556;
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 1.5rem;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      & .card-top {
        display: flex;
        justify-content: space-around;
      }
      & .card-mid {
        text-align: center;
        font-size: 1.5rem;
        @media (max-width: 568px) {
          display: none;
        }
      }
      & .card-bottom {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
      }
    }

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  [data-card-type="heart"],
  [data-card-type="diamond"] {
    color: red;
  }

  .back,
  [data-card-open="false"] {
    &::after {
      position: absolute;
      content: "";
      background-color: #03142e !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // margin: 0.25rem;
      // background: linear-gradient(
      //   45deg,
      //   #445875 0%,
      //   #ffffff 0%,
      //   #445875 10%,
      //   #ffffff 10%,
      //   #445875 20%,
      //   #ffffff 20%,
      //   #445875 30%,
      //   #ffffff 30%,
      //   #445875 40%,
      //   #ffffff 40%,
      //   #445875 50%,
      //   #ffffff 50%,
      //   #445875 60%,
      //   #ffffff 60%,
      //   #445875 70%,
      //   #ffffff 70%,
      //   #445875 80%,
      //   #ffffff 80%,
      //   #445875 90%,
      //   #ffffff 90%,
      //   #445875 100%,
      //   #ffffff 100%
      // );
      background-image: url("/cards/back_0.png");
      @include card-size;

      // @media (max-width: 568px) {
      // margin: 0.1rem;
      // }

      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
    }
  }
}
